{% extends 'blog/jumbotron.html' %}

{% block content %}
  {% block post %}

    <div class="post-detail" style="padding-bottom: 50px;">

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p class="dept"> Department: {{ post.department|linebreaksbr }}</p>

        <p style="font-size: 16px; margin-right: 200px;">{{ post.text|linebreaksbr }}</p>

    </div>

    <h style="font-size: 22px; font-weight: bold; margin-left:auto; margin-right:auto; padding-bottom: 40px;"> View {{ post.title }}'s calendar </h>
    <div>
      <p> Day: <em id="demoDay"></em>
      <br>From <em id="demo1">startTime</em> to <em id="demo2">endTime</em>
      </p>
      <!-- <p id="demo1">Demo1</p>
      <p id="demo2">Demo2</p>
      <p id="demoDay">DemoDay</p> -->

      <p> Enter time for this professor! </p>
      Day:
      <select name="select" id="officehourday"> <!--Supplement an id here instead of using 'name'-->
        <option value="Monday">Monday</option>
        <option value="Tuesday" selected>Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
      </select>

      From <input type="time" id="startTime">

      To:
       <input type="time" id="endTime">

    <p>Click the button to add this office hour to the calendar!</p>

    <button  id="createButton">
      Add to calendar
    </button>

    </div>

    <div id='calendar' class="container" style="padding-top: 20px;" ></div>

  {% endblock %}
{% endblock %}
