{% extends 'blog/jumbotron.html' %}

{% block content %}
  {% block post %}

    <div class="post-detail" style="padding-bottom: 50px;">

        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}

        <h1>{{ post.title }}</h1>
        <p class="dept"> Department: {{ post.department|linebreaksbr }}</p>

        <p>{{ post.text|linebreaksbr }}</p>

    </div>

    <h style="font-size: 18px; margin-left:auto; margin-right:auto; padding-bottom: 40px;"> View {{ post.title }}'s calendar </h>
    <div>
      Day:
      <select name="select" id="officehourday"> <!--Supplement an id here instead of using 'name'-->
      <option value="value1">Monday</option>
      <option value="value2" selected>Tuesday</option>
      <option value="value3">Wednesday</option>
      <option value="value3">Thursday</option>
      <option value="value3">Friday</option>
      </select>

      From <input type="time" id="startTime">

      To:
       <input type="time" id="endTime">

    <p>Click the button to set a time for the time field.</p>

    <button onclick="displayEvent()">Add a new office hour!</button>

    <p id="demo"></p>
    </div>

    <div id='calendar' class="container" style="padding-top: 20px;" ></div>

  {% endblock %}
{% endblock %}
