/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 70px;
  padding-bottom: 20px;
}



.container.row {
  position: absolute;
  margin-bottom: 15px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 200px;
}

#calendar {
  width: 90%;
  left: 50px;
  position: absolute;
}
